requests
pandas
beautifulsoup4
sqlalchemy
psycopg2-binary  # または使用しているDBドライバ
backports.zoneinfo; python_version < '3.9'
numpy
matplotlib
seaborn
Pillow
japanize-matplotlib
ipython # Colab/Jupyter環境での表示用
streamlit>=1.30.0
